.footer-container {
    /* text-align: center; */
    /* border: 2px solid rgb(9, 20, 9); */
    background-color: #161619;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.footer-container .icons:hover {
    cursor: pointer;
}